<!DOCTYPE html>
<html>
<head>
    <title>Insert Data</title>
</head>
<body>
    <form method="POST" action="add">
        <label for="id">ID:</label>
        
        <input type="text" name="id"><br><br>
        <label for="username">Username:</label>
        
        <input type="text" name="username"><br><br>
        <label for="email">Email:</label>
        
        <input type="text" name="email"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>